/* Style for exit button */
#exit-button {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 100%; 
}

.exit-logo {
  width: auto; /* Adjust size as needed */
  height: 100%;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.exit-logo:hover {
  opacity: 0.7;
}